@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.app {
    background-image: url(./assets/bg.png);
    background-size: cover;
    background-position: center;
}

main {
    min-height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBox #searchInput {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    margin-bottom: 10px;
}

#searchInput:focus {
    background-color: rgba(255, 255, 255, 0.8);
}

.location {
    font-size: 2rem;
    color: rgb(168, 118, 118);
    text-shadow: 2px 2px rgba(143, 143, 7, 0.5);
    text-transform: capitalize;
}

.date {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
}

.weather-box {
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    font-size: 2rem;

}

.weather-box ul {
    list-style-type: none;
    text-align: center;
}